<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Xml_Pokemon" value="..\Xml_Pokemon.xml" />
		<add key="Xml_Item" value="..\Xml_Item.xml" />
		<add key="Xml_Kotaiti" value="..\Xml_Kotaiti.xml" />
		<add key="Xml_Skill" value="..\Xml_Skill.xml" />
		<add key="Xml_Special" value="..\Xml_Special.xml" />
	</appSettings>
</configuration>